{{#paper-toolbar as |toolbar|}}
<div class="md-toolbar-tools" id="mainBar">
    {{#link-to 'index'}}{{#paper-button}} Home {{/paper-button}}{{/link-to}}
    {{#link-to 'aboutme'}}{{#paper-button}} About Me {{/paper-button}}{{/link-to}}
    <div class="navRight">
        {{#paper-button }} {{fa-icon "twitter"}} {{/paper-button}}
        {{#paper-button }} {{fa-icon "linkedin"}} {{/paper-button}}
        {{#paper-button }} {{fa-icon "facebook"}} {{/paper-button}}
        {{#paper-button }} {{fa-icon "instagram"}} {{/paper-button}}
    </div>
</div>

{{/paper-toolbar}}
{{outlet}}
<div class="banner-container">
    <div class="changes-banner">
        <p class="banner-text"> This site is under production for ideas on how to improve, contact <a class="banner-text" href="mailto:jorge.juarez87@me.com"> Jorge Avila</a></p>
    </div>
</div>
<main>
    what is main
</main>