{{#paper-toolbar as |toolbar|}}
<div class="md-toolbar-tools" data-toggle="collapse" id="mainBar">
    {{#link-to 'index'}}{{#paper-button}} Home {{/paper-button}}{{/link-to}}
    {{#link-to 'aboutme'}}{{#paper-button}} About Me {{/paper-button}}{{/link-to}}

    <div class="navRight" data-toggle="collapse">
        {{!-- Jorge Àvila Juarez --}}
        <a onclick="twitter()"> {{#paper-button }} {{fa-icon "twitter"}} {{/paper-button}} </a>
        <a onclick="linkedin()"> {{#paper-button }} {{fa-icon "linkedin"}} {{/paper-button}}</a>
        <a onclick="facebook()"> {{#paper-button}} {{fa-icon "facebook"}} {{/paper-button}} </a>
        <a onclick="insta()"> {{#paper-button }} {{fa-icon "instagram"}} {{/paper-button}} </a>
    </div>
</div>
<script>
    function twitter() {
        window.open("https://twitter.com/_wtfjorge");
    }
    function linkedin() {
        window.open("https://www.linkedin.com/in/jorgeavilajuarez/");
    }
    function facebook() {
        window.open("https://facebook.com/wtfjorge");
    }
    function insta() {
        window.open("https://instagram.com/jorgejuarezavila");
    }
</script>
{{/paper-toolbar}}



<div class="banner-container">
    <div class="changes-banner">
        <p class="banner-text"> This site is under production for ideas on how to improve, contact <a
                class="banner-text" href="mailto:jorge.juarez87@me.com"> Jorge Avila</a></p>
    </div>
</div>
<main role = "main">
    {{outlet}}
</main>
    {{!-- <img src="/images/jorge_prof.jpeg">
    <img src="/images/jorge_mtn_back.jpeg">
    <img src="/images/NM_mtn.jpeg">
    <img src="/images/jorge_jet.jpeg">
    <img src="/images/jorge_meli.jpeg"> --}}

    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="/images/jorge_prof.jpeg">
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="/images/jorge_mtn_back.jpeg">
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="/images/NM_mtn.jpeg">
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="/images/jorge_meli.jpeg">
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="/images/jorge_shirtless.jpeg">
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="/images/shirley.jpeg">
            </div>
        </div>
        {{!-- this is the last div of the pictures --}}
    </div>

<footer>
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                Created by:
                <a id="footername" href="#"> Jorge Avila Juarez</a>
            </div>
            <div class="text-right" style="color: black;">
                "Anything worthwhile is never easy or free"
            </div>
        </div>
    </div>
</footer>